<mat-sidenav-container class="container">
    <mat-sidenav *ngIf="this.menu.active" class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a routerLink="/" mat-list-item>
                <i class="material-icons v-middle">
                    home
                </i>
                <span>Ínicio</span>

            </a>
            <a routerLink="/products" mat-list-item>
                <i class="material-icons v-middle">
                    storefront
                </i>
                <span>Produtos</span>

            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>