<mat-card class="mat-elevation-z3 card-new-product">
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <label for="name">Nome</label>
            <input matInput [(ngModel)]="product.name" name="name" />
        </mat-form-field>
        <mat-form-field>
            <label for="price">Preço (R$)</label>
            <input matInput [(ngModel)]="product.price" name="price" />
        </mat-form-field>
        <div class="button-container">
            <button mat-raised-button (click)="createProduct()" color="primary">
                Criar produto
            </button>

            <button mat-raised-button (click)="cancel()">
                Cancelar
            </button>
        </div>
    </form>
</mat-card>